@import "variables";
@import "devices";
$color: blue;
$colores: (
  bar: #04aa6d,
  barbg: #072146,
  ourProduct: #d4edfc,
  items: aliceblue,
  descripcion: #00b5f5,
);

.clase-description {
  padding: 3em 1em 3em 1em;
  margin: 0em 0em 2em 0em;
  background-color: map-get($colores, descripcion);
}

$padding: (
  item_1: 1.5em,
  item_2: 1.5em,
  item_3: 1.5em,
);
@each $size, $assign in $padding {
  .content_#{$size} {
    margin-bottom: $assign;
  }
}

$entities-map: (
  raquo: "\00bb",
);
//home
.main-head {
  .navbar-dark .navbar-brand:hover {
    color: map-get($colores, bar);
  }

  .bgnav {
    background-color: map-get($colores, barbg);
    font-size: larger;
    font-weight: 500;

    .position_up {
      position: absolute;
      top: 2em;
      right: 1em;
      button {
        margin-right: 0.5em;
      }
    }
    .containernav {
      position: relative;
      .logo {
        margin: 0;
        padding: 0;
        img {
          height: 5em;
          width: auto;
          &:hover {
            filter: saturate(180%) brightness(500%);
          }
        }
      }
      #navbarNav {
        ul {
          padding: 1em 0em 1em 0em;
        }
      }
    }
  }
}

.section_card {
  background-color: rgb(228, 224, 255);
  h1 {
    text-align: center;
    padding: 1em;
    color: black;
  }
  .col {
    padding: 1em;
  }
  .card {
    .card-body {
      .btn_Serv {
        padding: 0.75rem 1.25rem;
        border-radius: 10rem;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 0.15rem;
        transition: all 0s;
        position: relative;
        z-index: 1;
        span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.2s;
          &:after {
            content: "\00bb";
            position: absolute;
            opacity: 0;
            right: -10px;
            transition: 0.2s;
          }
        }
        &:hover {
          background-color: #0c9ace;
          span {
            padding-right: 1.5em;
            &:after {
              opacity: 1;
              right: 0;
            }
          }
        }
        &:active {
          background-color: #03bafd;
          box-shadow: 0 5px #666;
          transform: translateY(4px);
        }
      }
    }
  }
}
.ourProduct {
  background-color: map-get($colores, ourProduct);
  display: flex;

  .container {
    margin-bottom: 1em;

    h2 {
      text-align: center;
      margin: 1em 0em 1em 0em;
    }

    .first_items,
    .second_items,
    .third_items {
      justify-items: center;
      align-items: center;
      background-color: map-get($colores, items);
      padding: 1.2em 1em 1em 1em;
      margin-bottom: 1em;
      border: 1px solid #c9c9c9;

      .content_item_1,
      .content_item_2,
      .content_item_3 {
        img {
          width: $image-size;
          box-shadow: $image-decoration;
          &:hover {
            -ms-transform: scale(1);
            /* IE 9 */
            -webkit-transform: scale(1.1);
            /* Safari 3-8 */
            transform: scale(1.1);
          }
        }
      }

      .description {
        @extend .clase-description;
        border-radius: 1em;
      }
    }
  }
}

footer {
  background-color: #072146;
  display: flex;
  justify-content: space-between;

  .footer_section {
    padding: 0.8em;
    padding-top: 1em;
    display: flex;

    /* Contact us */

    .datosPersonales {
      display: flex;
      flex-direction: column;

      h2 {
        color: white;
        padding-left: 1em;
      }

      .titleContacto {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 1.2em;
        padding: 1em 0em 0em 1.5em;
      }

      .datos_personales1 {
        list-style: none;
        padding-top: 01em;
        flex-direction: column;

        .datos_personales_items {
          color: white;
          font-size: medium;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 600;

          a {
            padding-left: 01em;
            text-indent: 1em;
          }
        }
      }
    }
  }

  .footer_network_social {
    display: flex;
    align-items: flex-end;

    .social-container {
      display: flex;

      .social-icons {
        list-style: none;
        display: flex;
        margin-right: 3em;
        margin-bottom: 3em;

        li {
          display: flex;
          font-size: 1.2em;
          padding: 0.4em;
        }

        i {
          color: #fff;
          display: flex;
          top: 7px;
          left: 7px;
          padding: 0.3em;
          transition: all 265ms ease-out;
        }

        a {
          &:before {
            transform: scale(1);
            -ms-transform: scale(1);
            -webkit-transform: scale(1);
            content: " ";
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background: linear-gradient(45deg, #00b5f5, #002a8f);
            transition: all 265ms ease-out;
          }
        }

        a {
          &:hover {
            &:before {
              transform: scale(1);
              transition: all 265ms ease-in;
            }
          }
        }

        a {
          &:hover i {
            border-radius: 150em;
            padding: 0.3em;
            transform: scale(1.5);
            -ms-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            background: -webkit-linear-gradient(45deg, #00b5f5, #002a8f);
            -webkit-text-fill-color: white;
            transition: all 265ms ease-in;
          }
        }
      }
    }
  }
}
/* ---- Page product ----*/
.main_container_product {
  background-color: black;
  main {
    h1 {
      text-align: center;
      padding: 2em 0em 2em 0em;
      font-size: 2em;
      font-weight: 600;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      background-color: #00b5f5;
    }
    .videos {
      .card-group {
        padding: 2em 1em 3em 1em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        .card_product {
          margin: 0.5em;
          .video {
            background-color: black;
            width: auto;
            height: 350px;
          }
          .card-body {
            background-color: #d4edfc;
          }
        }
      }
    }
  }
}

/* ---- Page carrito ---- */
/* menu */
.car_wrapper {
  .container {
    max-width: 100%;
    .filterInput {
      margin: 1em auto;
      .search_box {
        margin: 1em 0em 0em 0em;
        border-style: solid 1.5px #d3d3d3;
        border-radius: 5px;
        width: 100%;
        height: 2em;
      }
    }
    #cards {
      justify-content: center;
    }
  }
  .car_title {
    h1 {
      text-align: center;
      padding: 2em 0em 2em 0em;
      background-color: #00b5f5;
      font-size: 2em;
      font-weight: 600;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
    }
  }
  .div_wrapper {
    width: 18rem;
    .card-body {
      h2 {
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        letter-spacing: 1.2px;
      }
    }
  }
}
/* ---- Page Service ---- */
.class_img_content {
  height: auto;
  width: 16em;
  padding: 1em 0em 2em 0em;
  transition: all 200ms ease-in-out 100ms;
  &:hover {
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1.01);
    /* Safari 3-8 */
    transform: scale(1.2);
  }
}
.class_content_2345 {
  background-color: darkturquoise;
  color: whitesmoke;
  h2 {
    color: white;
    font-weight: 400;
    font-size: 2em;
    line-height: 1.2em;
    padding: 1em 0em 1em 0em;
  }
  p {
    color: white;
    font-weight: 400;
    font-size: 1.3em;
    line-height: 1.2em;
    padding: 1em 0em 1em 0em;
  }
}
.wrapper_service {
  background-color: black;
  .main-head {
    .navbar-dark .navbar-brand:hover {
      color: map-get($colores, bar);
    }

    .bgnav {
      background-color: map-get($colores, barbg);
      font-size: larger;
      font-weight: 500;

      .position_up {
        position: absolute;
        top: 2em;
        right: 1em;
        button {
          margin-right: 0.5em;
        }
      }
      .containernav {
        position: relative;
        .logo {
          margin: 0;
          padding: 0;
          img {
            height: 5em;
            width: auto;
            &:hover {
              filter: saturate(180%) brightness(500%);
            }
          }
        }
        #navbarNav {
          ul {
            padding: 1em 0em 1em 0em;
          }
        }
      }
    }
  }
  #main_service {
    padding-bottom: 1em;
    h1 {
      text-align: center;
      padding: 2em 0em 2em 0em;
      font-size: 2em;
      font-weight: 600;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      background-color: #00b5f5;
    }
    .h-100 {
      img:hover {
        -ms-transform: scale(1);
        /* IE 9 */
        -webkit-transform: scale(1);
        /* Safari 3-8 */
        transform: scale(1.01);
      }
      .card-body {
        h5 {
          font-size: 1.5em;
          text-align: center;
        }
        p {
          font-size: 1em;
        }
      }
    }
  }
  #content_1 {
    text-align: center;
    background-color: #00b5f5;
    padding: 0.5em 0em 0.5em 0em;
    h2 {
      color: white;
      font-weight: 700;
      font-size: 2em;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.2em;
      padding: 0.5em 0em 0.5em 0em;
    }
    p {
      padding-top: 1em;
      color: white;
      font-weight: 400;
      font-size: 1.5em;
      line-height: 1.2em;
      padding: 0.5em 0em 1em 0em;
    }
  }
  .container_service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content_2 content_3 content_4 content_5";
    grid-gap: 5px;
    text-align: center;
    #content_2 {
      grid-area: content_2;
      img {
        @extend .class_img_content;
      }
      @extend .class_content_2345;
    }
    #content_3 {
      grid-area: content_3;
      img {
        @extend .class_img_content;
      }
      @extend .class_content_2345;
    }
    #content_4 {
      grid-area: content_4;
      img {
        @extend .class_img_content;
      }
      @extend .class_content_2345;
    }
    #content_5 {
      grid-area: content_5;
      img {
        @extend .class_img_content;
      }
      @extend .class_content_2345;
    }
  }
}
/* ---- Page Nosotros ----*/
.content_Services234 {
  background-color: rgb(138, 194, 236);
  padding: 0em 0em 2em 0em;
  margin: 0em 0.5em 0em 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  h2 {
    padding: 1em 0em 1em 0em;
    color: #fff;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.6em;
    letter-spacing: -0.1px;
  }
  p {
    color: #f5f5f5;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 0em 1.2em 1em 1.2em;
  }
  img {
    height: auto;
    width: 20em;
    padding: 0em 0em 1em 0em;
  }
}
.main_container_about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 0.4fr);
  grid-template-areas:
    "content_service1 content_service1 content_service1"
    "content_service2 content_service3 content_service4";
  background-color: #f4f4f4;
  margin: 0em 1.5em 0em 1.5em;
  h1 {
    padding: 1em 0em 1em 0em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: sandybrown;
  }
  .content_service1 {
    text-align: center;
  }

  .content_service1 {
    grid-area: content_service1;
    text-align: center;
  }

  .content_service2 {
    grid-area: content_service2;
    @extend .content_Services234;
  }

  .content_service3 {
    grid-area: content_service3;
    @extend .content_Services234;
  }

  .content_service4 {
    grid-area: content_service4;
    @extend .content_Services234;
  }
}
/* ---- Page contact ----*/
.main_container_contact {
  display: flex;
  justify-content: space-around;
  padding: 3em 0em 3em 0em;
}
.form_contact {
  text-align: justify;
  .first_part {
    display: flex;
    flex-flow: column;
    max-width: 300px;
    legend {
      text-align: center;
    }
    #name,
    #email {
      padding-top: 15px;
      font-size: medium;
      font-weight: 500;
    }
  }
  .second_part {
    padding-top: 5px;
    display: flex;
    flex-flow: column;
    #description {
      max-width: 300px;
    }
    #submit {
      padding: 15px 25px;
      margin-top: 15px;
      max-width: 120px;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #002a8f;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
      &:hover {
        background-color: #00b5f5;
        box-shadow: 0 2px #666;
        transform: translateY(4px);
      }
    }
  }
  .mapa {
    display: flex;
    flex-direction: column;
    iframe {
      padding: 2em 0em 2em 0em;
    }
  }
}
@include large {
  .ourProduct {
    padding: $padding-uno;

    .container {
      h1 {
        text-align: center;
        margin-top: $padding-uno;
      }

      .first_items,
      .second_items,
      .third_items {
        padding: 0.8em;
        margin: $margin-cero;
        margin-bottom: 1em;
        border: 1px solid #c9c9c9;
      }
    }
  }

  /* ---- Page Nosotros ----*/
  .main_container_about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 0.4fr);
    grid-template-areas:
      "content_service1 content_service1"
      "content_service2 content_service2"
      "content_service3 content_service3"
      "content_service4 content_service4";
    .content_service2,
    .content_service3,
    .content_service4 {
      padding: 1em 2em 0em 2em;
      img {
        height: auto;
        width: 15em;
      }
    }
  }
  /* ---- Page contact ----*/
  .main_container_contact {
    display: flex;
    flex-direction: column;
  }
  .form_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5em;
    h1 {
      text-align: center;
      padding-bottom: 1em;
    }
  }
  .mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    h2 {
      margin: 1em;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
    }
  }
  /* ---- page service ---- */

  .content_Mobile_Service_2345 {
    h2 {
      font-size: 1.5em;
    }
    p {
      font-size: 1em;
      padding: 1em;
    }
    img {
      height: auto;
      width: 12em;
    }
  }
  .wrapper_service {
    #main_service {
      margin-bottom: 0.5em;
      .card-body {
        h5 {
          font-size: 1.5em;
          text-align: center;
        }
        p {
          font-size: 1em;
        }
      }
    }
    #content_1 {
      h2 {
        font-size: 2em;
      }
      p {
        font-size: 1.5em;
      }
    }

    .container_service {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2, 0.4fr);
      grid-template-areas:
        "content_2 content_3"
        "content_4 content_5";
      height: 100vh;
      grid-gap: 5px;
      text-align: center;
      margin-bottom: 10%;
      #content_2,
      #content_3,
      #content_4,
      #content_5 {
        @extend .content_Mobile_Service_2345;
      }
    }
  }
}
@include medium {
  .ourProduct {
    padding: $padding-uno;

    .container {
      display: flex;
      flex-direction: column;

      h1 {
        text-align: center;
      }

      .first_items,
      .second_items,
      .third_items {
        margin-bottom: 1em;
        border: 1px solid #c9c9c9;
        .description {
          padding: 2em 1em 1em 1em;
          width: max-content;
          margin: $margin-cero;
        }
      }
    }
  }
  /* ---- page service ---- */
  .content_Mobile_Service_2345_Medium {
    h2 {
      font-size: 1.5em;
    }
    p {
      font-size: 1em;
      padding: 1em;
    }
    img {
      height: auto;
      width: 10em;
    }
  }
  .main-head {
    .bgnav {
      .containernav {
        justify-content: space-between;
        position: relative;
      }
      .position_up {
        position: absolute;
        top: 2em;
        right: 1em;
        input {
          margin-right: 0.5em;
        }
      }
    }
  }

  .main_service {
    .card-body {
      h5 {
        font-size: 1.3em;
        text-align: center;
      }
      p {
        font-size: 1em;
      }
    }
  }
  #content_1 {
    padding: 0.5em 0.5em 0.5em 0.5em;
    h2 {
      font-size: 1.8em;
    }
    p {
      font-size: 1.5em;
    }
  }
  .container_service {
    // display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 0.4fr);
    grid-template-areas:
      "content_2"
      "content_3"
      "content_4"
      "content_5";
    grid-gap: 5px;
    text-align: center;
    margin-bottom: 20%;
    #content_2,
    #content_3,
    #content_4,
    #content_5 {
      @extend .content_Mobile_Service_2345_Medium;
    }
  }
}
@include small-x {
  /* ---- page service ---- */
  .content_Mobile_Service_2345_Small-x {
    img {
      height: auto;
      width: 10em;
    }
  }
  #content_1 {
    padding: 0em 0.5em 0em 0.5em;
    h2 {
      font-size: 1.8em;
    }
    p {
      font-size: 1em;
    }
  }

  .card-body {
    h5 {
      font-size: 1.2em;
      text-align: center;
    }
    p {
      font-size: 1em;
    }
  }
  .container_service {
    grid-gap: 5px;
    text-align: center;
    margin-bottom: 20%;
    #content_2,
    #content_3,
    #content_4,
    #content_5 {
      @extend .content_Mobile_Service_2345_Small-x;
    }
  }
}

@include small {
  .ourProduct {
    padding: $padding-uno;

    .container {
      display: flex;
      flex-direction: column;

      h1 {
        text-align: center;
      }

      .first_items,
      .second_items,
      .third_items {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
        border: 1px solid #c9c9c9;

        .content_item_1,
        .content_item_2,
        .content_item_3 {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .description {
          padding: 2em 1em 1em 1em;
          width: max-content;
          margin: $margin-cero;
        }
      }
    }
  }

  footer {
    background-color: #072146;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    .footer_section {
      display: flex;
      justify-content: center;
      padding: $padding-uno;

      .datosPersonales {
        display: flex;
        align-items: center;

        h2 {
          color: white;
          padding-left: 0em;
        }

        .datos_personales1 {
          list-style: none;

          .datos_personales_items {
            color: white;
            font-size: medium;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
          }
        }
      }
    }

    .footer_network_social {
      display: flex;
      align-items: center;
      justify-content: center;
      .social-container {
        .social-icons {
          list-style: none;
          margin-right: $margin-cero;
          margin-bottom: 3em;

          li {
            font-size: 1.2em;
            a {
              text-decoration: none;
            }
          }

          i {
            color: #fff;
            top: 7px;
            left: 7px;
            padding: 10px;
            transition: all 265ms ease-out;
          }
        }
      }
    }
  }
}
@include small-s {
  /* ---- page service ---- */
  .content_Mobile_Service_2345_Small-s {
    font-size: 1em;
    h2 {
      font-size: 1em;
    }
    p {
      font-size: 1em;
    }
  }

  .card-body {
    h5 {
      font-size: 1em;
      text-align: center;
    }

    .card-body > p {
      font-size: 0.8em;
    }
  }
  .container_service {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "content_2 content_3"
      "content_4 content_5";
    grid-gap: 2px;
    text-align: center;
    margin-bottom: 20%;
    #content_2,
    #content_3,
    #content_4,
    #content_5 {
      @extend .content_Mobile_Service_2345_Small-s;
    }
  }
}
